__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

.vscode/
.idea/

.venv/
venv/
env/
ENV/

.env
.env.*

data/**/*.csv

dist/
build/
*.egg-info/

Thumbs.db
.DS_Store